PROJECT_NAME=Yv-Me ROI Calculator
MODEL_NAME=Yv-Me
PROGRAMME=EasePal Care
LOCATION=Yobe State, Nigeria
PILOT_MONTHS=12
CHEWS=100
BENEFICIARIES=1000
BENEFICIARIES_PER_CHEW=10
TOTAL_BUDGET=407343531
CURRENCY=NGN
